[Unit]
Description=Wetty Web Terminal
After=network.target

[Service]
User=wetty
Group=wetty

ExecStart=/usr/local/bin/wetty -p 3000 --host 127.0.0.1 --sshuser playground

[Install]
WantedBy=multi-user.target